.container-fluid {
background-color: #154360;
}

.container#heading {
background-image: url("../img/headerBG2.jpg");
opacity: 0.8;
background-repeat: no-repeat;
background-size: cover;
}

.sidebar {
position: absolute;
z-index: 2;
width: 15%;
background-color: #154360;
height: 100%;
opacity: 0.8;
font-size: 20px;
color: white;
display: none;
left: 10px;
}
#x-button{
cursor: pointer;
}
.list-items1 {
margin-top: 20px;
}
.contact-details a:hover {
width: 50px;
}

.jumbotron {
opacity: 0.5;
}
.list-items1:hover span{
  width: 100%;
  background-color: white;
}
.span-items{
  margin-top: 20px;
  margin-left: 0px;
}
.span-item1:hover{
  width: 100%;
  background-color: white;
}
.span-item2:hover{
  width: 100%;
  background-color: white;
}
.span-item3:hover{
  width: 100%;
  background-color: white;
}
#toggle{
  width:20px;
  height:20px;
  position:absolute;
  left:0%;
  cursor:pointer;
  margin:10px;
}
#toggle span{
  height:2px;
  background:white;
  display:block;
  margin-bottom:5px;
}
