#landing-page-container-fluid{
background-image: url("../img/headerBG2.jpg");
}
#buyer-page-container-fluid{
background-image: url("../img/headerBG2.jpg");
}
#whole-page{
background-color: #154360;
}
.container#heading {
opacity: 1;
background-repeat: no-repeat;
background-size: cover;
}

#sidebar1 {
position: absolute;
z-index: 2;
width: 20%;
background-color:white;
opacity: 0.8;
font-size: 20px;
color: white;
display: none;
position: absolute;
}
#log-in:hover{
  background-color: #154360;
  opacity: 0.8;
}
.contact-details{
  align-items: center;
}
.button-landing{
  font-size: 20px;
  color: white;
  padding:10%;
}
#button1{
  -webkit-transition-duration: 4s;
  transition-duration: 4s;
}
#button1:hover{
background-color: white;
}

#sidebar2 img{
  -webkit-transition: all 20s ease;
     -moz-transition: all 20s ease;
      -ms-transition: all 20s ease;
          transition: all 20s ease;
}
#sidebar2 img:hover{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#body-landing-page{
  background-color: white;
  opacity: 0.5;
  margin-bottom: 20px;
}
#sidebar2{
  height: 5px;
  width: 40px;
  background-color: white;
  opacity: 0.9;
  margin-left: 94%;
  margin-top: -51%;
  z-index: 20;
  position: absolute;
}
#x-button{
  cursor: pointer;
  color: #154360;
}
.list-items1 {
  text-align: right;
  font-size: 25px;
}
#jumbotron-buyer-page{
  background-color: white;
  opacity: 1;
  height: 200px;
  margin-right: 29px;
}
.jumbotron {
  opacity: 0.7;
}
.list-items1:hover span{
  width: 100%;
  background-color: white;
}
.span-items{
  margin-top: 20px;
  margin-left: 0px;
}
.span-item1:hover{
  width: 100%;
  background-color: white;
}
.span-item2:hover{
  width: 100%;
  background-color: white;
}
.span-item3:hover{
  width: 100%;
  background-color: white;
}
#toggle{
  width:20px;
  height:20px;
  position:absolute;
  left:0%;
  cursor:pointer;
  margin:10px;
}
#toggle span{
  height:2px;
  background:white;
  display:block;
  margin-bottom:5px;
}
#cereals-buyer-page-well{
  background-image: url("../img/cerealsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 29px;
}
#vegetables-buyer-page-well{
  background-image: url("../img/vegetablesBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 29px;
}
#fruits-buyer-page-well{
  background-image: url("../img/fruitsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 29px;
}
#tubers-buyer-page-well{
  background-image: url("../img/tubersBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 29px;
}
#body-buyer{
  text-align: center;
}
#cereals-buyer-page-container{
  background-color: white;
  opacity: 0.9;
  width: 100%;
}
#vegetables-buyer-page-container{
  background-color: white;
  opacity: 0.9;
  width: 100%;
}
#fruits-buyer-page-container{
  background-color: white;
  opacity: 0.9;
  width: 100%;
}
#tubers-buyer-page-container{
  background-color: white;
  opacity: 0.9;
  width: 100%;
}
