.toms {
    width: 293px;
    height: 425px;
    /* border: 143px; */
    /* color: #272627; */
    border: solid gray;
    margin-top: 83px;
    margin-right: 69px;
    margin-left: 42px
}
.mes {
    width: 340px;
    height: 470px;
    /* border: 143px; */
    /* color: #272627; */
    border: solid gray;
    margin-top: 93px;
    margin-left: 72px;
}
.veges {
    width: 299px;
    height: 495px;
    /* border: 143px; */
    /* color: #272627; */
    border: solid gray;
    margin-top: -473px;
    margin-left: 915px;
    margin-bottom: 3px;
}
.tub {
    width: 284px;
    height: 475px;
    border: 143px;
    color: #272627;
    border: solid gray;
    margin-top: 93px;
}
.k {
    width: 280px;
    height: 475px;
    /* border: 143px; */
    /* color: #272627; */
    border: solid gray;
    margin-top: -544px;
    margin-left: 510px;
}
.m {
    width: 241px;
    height: 475px;
    /* border: 143px; */
    /* color: #272627; */
    border: solid gray;
    margin-top: -1062px;
    margin-bottom: 65px;
    margin-left: 1354px;
}

.y {
    width: 281px;
    height: 475px;
    /* border: 143px; */
    /* color: #272627; */
    border: solid gray;
    margin-top: -467px;
    margin-left: 1727px;
    margin-bottom: 753px;
}
