body{
  background: #ecf0f1;  
}

.form-container {
  background: #288CF0;
  background: #FFF;
  border: 2px solid #288CF0;
  padding: 40px;
  margin-bottom: 40px;
  margin: 2rem auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
  position: relative;
}

.form-label {
  position: absolute;
  top: 0;
  left: 3rem;
  background: #FFF;
  padding: 0.5rem 1rem;
  margin: 0;
  transform: translateY(-50%);
  color: #288CF0;

  &:before,
    &:after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    z-index: -1;
    }

    &:before{
    background: #ecf0f1;
    top: 0;
    }

    &:after{
      background: #FFF;
      bottom: 0;
    }
}


/* container sorrounding message */

.message-form-control {
  width: 100%;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 1rem;
  box-shadow: 0 0 0 1px #288CF0;
  transition: all 0.5s ease;
}

.message-form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #288CF0;
}

.message-form-control::-webkit-input-placeholder {
  color: #288CF0;
  font-size: 18px;
  line-height: 100px;
  transition: all 0.5s ease;
  margin: 0 auto;
}

.message-form-control:focus::-webkit-input-placeholder {
  color: #AAA;
  font-size: 12px;
  line-height: 12px;
  padding-left: 0%;
}


/* Button styling */

.button {
  background: #FFF;
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  color: #288CF0;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 40px;
  border: 2px solid #288CF0;
  text-align: center;
}

.button:hover {
  background: #288CF0;
  color: #FFF;
  border: 2px solid #288CF0;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
}

.button.raised:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}


/* form starting stylings*/

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  background: transparent;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #288CF0;
}

input:focus {
  outline: none;
}


/* LABEL */

label {
  color: #288CF0;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}


/* active state */

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #288CF0;
}


/* BOTTOM BARS */

.bar {
  position: relative;
  display: block;
  width: 50%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #288CF0;
  transition: 0.2s ease all;
}

.bar:before {
  left: 100%;
}

.bar:after {
  right: 0%;
}


/* active state */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 100%;
}


/* HIGHLIGHTER */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS */

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}